*{
    margin: 0;
    padding: 0;
}
ul>li{
    list-style: none;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
.banner{
    width: 100%;
    height: 536px;
}
.banner1_text_title{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 900;
}
.banner1_text_text{
    color: rgb(255, 255, 255);
    font-size: 22px;
}
.banner1_text_btn{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 19px;
    border: 1px solid #fff;
    padding: 10px 40px;
    margin-top: 20px;
}
.banner2_text_title{
    color: black;
    font-size: 50px;
    font-weight: 900 !important;
}
.banner2_text_text{
    color: black;
    font-size: 22px;
    font-weight: 900;
}
.Production_project{
    font-size: 24px;
}
.ppimg{
    width: 248px;
    height: 166px;
}
.understand{
    text-align: center;
}
.bg_grey{
    background: #f2f2f2;
}
.Underline{
    border: 1px solid #e2e2e2;
}
.xgt{
    margin: 0 auto;
}
.xgtitle{
    text-align: center;
    font-size: 18px;
    color: #808080;
}
.xgtxt{
    color: #808080;
    font-size: 16px;
    text-align: center;
}
.xgtext{
    width: 250px;
    color: #aaa;
    font-size: 12px;
}
.numup{
    width: 300px;
}
.num{
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    color: #aaaaaa;
    display: block;
    padding: 0 0 5px 0;
    text-align: center;
}
.num_text{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #c1c1c1;
    display: block;
    text-align: center;
}
.tsimg{
    width: 100px;
    height: 30px;
}
.input1{
    width: 360px;
    height: 44px;
    border: 1px solid rgb(214, 214, 214);
}
.textarea1{
    width: 726px;
    height: 68px;
    border: 1px solid rgb(214, 214, 214);
}
.bd_title{
    font-size: 16px;
    color: #696969;
}
.bd_text{
    font-size: 13px;
    color: rgb(136, 136, 136);
}
.foot{
    color: #606060;
    font-size: 12px;
    text-align: center;
}
.swiper{
    width: 100%;
    height: 536px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}
.swiper ul{
    width: 9999px;
    overflow: hidden;
    /*清除浮动*/
    /*transition: 1s;*/
}
.swiper li{
    float: left;
    /*width: 520px;*/
}
/*按钮*/
.btn1{
    position: absolute;
    top: 50%;
    left: -4px;
    width: 30px;
    height: 30px;
    
    margin-top: -15px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    font-size: 26px;
    color: #fff;
    background: #666;
    opacity: .5;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.next{
    left: 98.5%;
}
.transi{
    transition: 500ms;
}
/*小圆点*/
ul.item{
    width: 48px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    /*清除浮动*/
    overflow: hidden;
    z-index: 1000;
}
.item li{
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
    margin: 0 3px;
}
li.activea{
    background: gray;
}
.banner001{
    width: 1903px;
    height: 850px;
    position: relative;
}
.banner1_text{
    position: absolute;
    left: 25%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    bottom: 52% !important;
}
.banner2_text{
    left: 44% !important;
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    bottom: 60% !important;
}
.banner3_text{
    left: 63% !important;
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    bottom: 60% !important;
}
.nav_1{
    width: 100%;
}
.container1{
    width: 1200px !important;
    margin: 0 auto;
}
.navver{
    margin-left: 45%;
}
